<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hozi</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    {{ block 'head' }}

   {{ /block  }}
</head>
<body>
    {{ include './header.html'}}


   {{ block 'content' }}
        <h1>默认</h1>
   {{ /block  }}

    {{ include './footer.html'}}
    

     <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
     <script src="../node_modules/jquery/dist/jquery.js"></script>
     {{ block 'script' }}

   {{ /block  }}
</body>
</html>

